.create {
    margin-bottom: 100px;

    &__subtitle {
        @extend .marketplace__subtitle;
    }

    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 46px;
        text-align: center;
        margin-bottom: 50px;
    }

    &-algo {
        margin-bottom: 50px;
        @extend %flex-center;
        gap: 20px;

        &__card {
            background-color: #30384D;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 288px;
            padding: 10px;

            &-img {
                margin-bottom: 17px;
            }

            &-title {
                margin-bottom: 14px;
                font-family: 'DM Mono', monospace;
                font-weight: 500;
                font-size: 18px;
                line-height: 20px;
                text-align: center;
            }

            &-text {
                max-width: 190px;
                font-weight: 500;
                text-align: center;
            }
        }
    }

    &__btn-box {
        display: flex;
        justify-content: center;
        gap: 10px;

        .create__btn-create {
            @extend %btn;
        }

        .create__btn-video {
            @extend %btn-video;
        }
    }
}